<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jaisalmer October 2015</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/member.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

    <div class="brand">Tasveer</div>
    <div class="address-bar">IIIT Delhi</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
          
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav ">
		<li>
                        <a href="/">Home</a>
                    </li>                    
			<li>
                        <a href="/active_members">Active Members</a>
                    </li>
		    <li>
                        <a href="/about_us">About us</a>
                    </li>
                    
                    <li>
                        <a href="/contact_us">Contact us</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photo Gallery<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/photo_gallery/october15_jaisalmer">Jaisalmer Phototrip, October 2015</a>
                            </li>
                            <li>
                                <a href="/photo_gallery/september15_old_delhi">Old Delhi Photowalk, September 2015</a>
                            </li>
                            <li>
                                <a href="/photo_gallery/august15_lodhi_garden">Lodhi Garden Photowalk, August 2015</a>
                            </li>
                            <li>
                                <a href="/photo_gallery">Older</a>
                            </li>
                            
                        </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>Phototrip, Jaisalmer, October 2015</strong>
                    </h2>
                    <hr>
                </div>
</div>
</div>
</div>
        

<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->


<div class="row">
        <div class="box">
                <div class="col-lg-12 text-center">
<!-- 2. Add images to <div class="fotorama"></div>. -->
			<div class="fotorama">
 				 <img src="/static/images/jaisalmer_oct15/01.jpg">
				 <img src="/static/images/jaisalmer_oct15/02.jpg">
				 <img src="/static/images/jaisalmer_oct15/03.jpg">
			         <img src="/static/images/jaisalmer_oct15/04.jpg">
				 <img src="/static/images/jaisalmer_oct15/05.jpg">
				 <img src="/static/images/jaisalmer_oct15/06.jpg">
				 <img src="/static/images/jaisalmer_oct15/07.jpg">
				 <img src="/static/images/jaisalmer_oct15/08.jpg">
				 <img src="/static/images/jaisalmer_oct15/09.jpg">
				 <img src="/static/images/jaisalmer_oct15/10.jpg">
				 <img src="/static/images/jaisalmer_oct15/11.jpg">
				 <img src="/static/images/jaisalmer_oct15/12.jpg">
				 <img src="/static/images/jaisalmer_oct15/13.jpg">
				 <img src="/static/images/jaisalmer_oct15/14.jpg">
				 <img src="/static/images/jaisalmer_oct15/15.jpg">
				 <img src="/static/images/jaisalmer_oct15/16.jpg">
			</div>
		</div>
	</div>
</div>
    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

</body>

</html>
