<!DOCTYPE html>
	<html>
	
		<head>
			<title>Tasveer</title>
		</head>
		<body>

<div class="nav">
	<ul>
		<li><a href="/photogallery">Photo Gallery</a></li>
		<li><a href="/upcoming_act">Upcoming Activities</a></li>	
		<li><a href="/active_members">Active Members</a></li>
	</ul>
	<ul>
		<li><a href="/about_us">About us</a></li>
		<li><a href="/contact_us">Contact us</a></li>
		<li><a href="/login">Members Login</a></li>
	</ul>

			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</body>
	</html>
